extends ../layout.jade

block title
  title Edit Company

block content
  h1 Edit Company

  if errors
    p #{errors.length} error(s) prevented this job from saving
    ol
    for e in errors
      li= e.msg

  form(name="edit", action="/companies/#{company.get('id')}?_method=PUT", method="post")
    div(class='form-group')
      label(for='name') Name
      input(name="name", type="text", class='form-control', value="#{company.get('name')}")
    div(class='form-group')
      label(for='url') URL
      input(name="url", type="text", class='form-control', value="#{company.get('url')}")
    div(class='form-group')
      label(for='twitter') URL
      input(name="twitter", type="text", class='form-control', value="#{company.get('twitter')}", style="display:block")
    button(type="submit", class="btn btn-default") Update
    a(href="/companies/#{company.get('id')}") Cancel
