extends ../layout.jade

block title
  title Post Company

block content
  h1 Post Company

  if errors
    p #{errors.length} error(s) prevented this job from saving
    ol
    for e in errors
      li= e.msg

  form(name="new", action="/companies", method="post")
    div(class='form-group')
      label(for='name') Name
      input(name="name", type="text", class="form-control", value="#{company.name ? company.name : ''}")
    div(class='form-group')
      label(for='url') URL
      input(name="url", type="text", class="form-control", value="#{company.url ? company.url : ''}")
    div(class='form-group')
      label(for='twitter') Twitter
      input(name="twitter", type="text", class="form-control", value="#{company.twitter ? company.twitter : ''}")
    button(type="submit", class="btn btn-default") Submit
