extends ../layout.jade

block title
  title Edit Job

block content
  h1 Edit Job

  if errors
    div(class='panel panel-danger')
      div(class='panel-heading') #{errors.length} error(s) prevented this job from saving
      div(class='panel-body')
        ol
        for e in errors
          li= e.msg

  form(name="edit", action="/jobs/#{job.id}?_method=PUT", method="post")
    div(class='form-group')
      label(for='_company') Company
      select(name="_company", class='form-control')
        option(value="" selected)
        each company in companies
          //- TODO: find a better way to do this
          if job._company == company.id
            option(value="#{company.id}" selected)= company.name
          else
            option(value="#{company.id}")= company.name
    div(class='form-group')
      label(for='_category') Category
      select(name="_category", class='form-control')
        each category in categories
          //- TODO: find a better way to do this
          if job._category == category.id
            option(value="#{category.id}" selected)= category.name
          else
            option(value="#{category.id}")= category.name
    div(class='form-group')
      label(for='title') Title
      input(name="title", type="text", class='form-control', value="#{job.title}")
    div(class='form-group')
      label(for='description') Description
      textarea(name="description", rows='20', class='form-control')= job.description
    div(class='form-group')
      label(for='application_info') Application Info
      textarea(name="application_info", rows='2', class='form-control')= job.application_info
    div(class='form-group')
      label(for='_country') Country
      select(name="_country", class='form-control')
        option(value="" selected)
        each country in countries
          //- TODO: find a better way to do this
          if job._country == country.id
            option(value="#{country.id}" selected)= country.name
          else
            option(value="#{country.id}")= country.name
    div(class='form-group')
      label(for='location') Location
      textarea(name="location", class='form-control')= job.location
    div(class='form-group')
      label(for='email') E-mail
      input(name="email", type="text", class='form-control', value="#{job.email}", style="display:block")
    button(type="submit", class="btn btn-default") Update
    a(href="/jobs/#{job.id}") Cancel
