extends ../layout.jade

block title
  title Post Job

block content
  h1 Post Job

  if errors
    div(class='panel panel-danger')
      div(class='panel-heading') #{errors.length} error(s) prevented this job from saving
      div(class='panel-body')
        ol
        for e in errors
          li= e.msg

  form(name="new", action="/jobs", method="post")
    div(class='form-group')
      label(for='_company') Company
      select(name="_company", class='form-control')
        option(value="" selected)
        each company in companies
          //- TODO: find a better way to do this
          if job._company && job._company == company.id
            option(value="#{company.id}" selected)= company.name
          else
            option(value="#{company.id}")= company.name
    div(class='form-group')
      label(for='_category') Category
      select(name="_category", class='form-control')
        each category in categories
          //- TODO: find a better way to do this
          if job._category && job._category == category.id
            option(value="#{category.id}" selected)= category.name
          else
            option(value="#{category.id}")= category.name
    div(class='form-group')
      label(for='title') Title
      input(name="title", type="text", class='form-control', value="#{job.title ? job.title : ''}")
    div(class='form-group')
      label(for='description') Description
      textarea(name="description", rows='20', class='form-control') #{job.description ? job.description : ''}
    div(class='form-group')
      label(for='application_info') Application Info
      textarea(name="application_info", rows='2', class='form-control') #{job.application_info ? job.application_info : ''}
    div(class='form-group')
      label(for='country') Country
      select(name="country", class='form-control')
        option(value="" selected)
        each country in countries
          //- TODO: find a better way to do this
          if job.country && job.country == country.name
            option(value="#{country.name}" selected)= country.name
          else
            option(value="#{country.name}")= country.name
    div(class='form-group')
      label(for='location') Location
      textarea(name="location", class='form-control') #{job.location ? job.location : ''}
    div(class='form-group')
      label(for='email') E-mail
      input(name="email", type="text", class='form-control', value="#{job.email ? job.email : ''}")
    button(type="submit", class="btn btn-default") Submit
