extends ../layout.jade

block title
  title= job.title

block content
  h1 #{job.title} @ #{job._company.name}

  div(class='row')
    div(class='col-md-4')
      h4
        mark URL
      p
        a(href="#{job._company.url}")= job._company.url
      h4
        mark Twitter
      p
        a(href="https://twitter.com/#{job._company.twitter}")= job._company.twitter

      if user && job._user.id == user.id
        h4 Job Admin
        h4
          mark Status
        if job.expired_at == null
          p Paid
        else
          p Expired


        a(href="/jobs/#{job.id}/edit") Edit

        form(name="edit", action="/jobs/#{job.id}/expire?_method=PUT", method="post", style="display:inline")
          input(type="submit", value="Expire")

        form(name="delete", action="/jobs/#{job.id}?_method=DELETE", method="post", style="display:inline")
          input(type="submit", value="Delete" style="display:inline")
    div(class='col-md-8')
      h4
        mark Category
      p
        a(href="/categories/#{job._category.id}/jobs")= job._category.name
      h4
        mark Date
      p= formatDate(job.createdAt)
      h4
        mark Description
      p(style='white-space:pre-wrap;')!= sanitizeHtml(converter.makeHtml(job.description))
      h4
        mark Application Info
      p(style='white-space:pre-wrap;')!= sanitizeHtml(converter.makeHtml(job.application_info))
      if job._country
        h4
          mark Country
        p(style='white-space:pre-wrap;')= job._country.name
      h4
        mark Location
      p(style='white-space:pre-wrap;')= job.location
      h4
        mark E-mail
      p(style='white-space:pre-wrap;')= job.email
